---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Blur">
    <div class="w-full min-h-[100dvh] h-full grid place-items-center">
        <div class="w-3/4 md:w-2/3 aspect-video">
            <div class="w-full h-full bg-black"></div>
        </div>
    </div>
</Layout>