---
import Layout from "../layouts/Layout.astro";
import { Hero } from "../components/molecules/Hero";
import { TopNav } from "../components/molecules/TopNav";
import { Projects } from "../components/organisms/Projects";
import { GimmicHeading } from "../components/atoms/GimmicHeading";
import "../styles/global.css";
import { getCollection, type CollectionEntry } from "astro:content";

export const prerender = false;

const watchedAnimation = Astro.cookies.get("watched-animation");
const rotationCookie = Astro.cookies.get("rotation");
const initialRotation = rotationCookie?.value
  ? parseFloat(rotationCookie.value)
  : 0;

const articles: CollectionEntry<"posts">[] = await getCollection("posts");
---

<Layout title="Nils Haberkamp">
  <div class="relative z-10 bg-white">
      <div class="w-full min-h-screen relative">
        <TopNav skipAnimation={!!watchedAnimation} client:load />
        <Hero
          skipAnimation={!!watchedAnimation}
          initialRotation={initialRotation}
          client:only
        />
      </div>

      <div class="pt-8"></div>

      <div class="container mx-auto px-4 flex flex-col items-center">
        <GimmicHeading
          as="h2"
          id="projects"
          text="Projects"
          className="text-2xl font-medium text-center scroll-mt-20"
          client:load
        >
        </GimmicHeading>

        <div class="pt-8"></div>

        <Projects client:load />

        <div class="pt-48"></div>

        <GimmicHeading
          as="h2"
          text="Articles"
          className="text-2xl font-medium text-center scroll-mt-20"
          client:load
        >
        </GimmicHeading>

        <div class="pt-8"></div>

        <ul class="flex max-w-2xl mx-auto flex-col">
          {articles.map((article) => (
            <li>
              <a href={`/posts/${article.id}`} class="transition-colors duration-200 ease-out-expo block hover:text-white hover:bg-black px-6 py-4 focus-visible:outline-2 focus-visible:outline-red-500 outline-offset-2">
                <h3 class="!font-sans text-xl font-medium text-pretty leading-[1.1]">{article.data.title}</h3>

                <div class="pt-2" />

                <p class="text-pretty">{article.data.content}</p>
              </a>
            </li>
          ))}
        </ul>

        <div class="pt-48"></div>
      </div>
    </div>
</Layout>
