---
import { Hero } from "../components/molecules/Hero";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Nils Haberkamp</title>
  </head>
  <body>
    <Hero client:load />
  </body>
</html>
