---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sprite animation | Nils Haberkamp">
    <div class="grid place-items-center min-h-screen">
        <div class="w-2 h-2 bg-black"></div>
    </div>
</Layout>

