---
import Footer from "../components/organisms/Footer.astro";
import "../styles/global.css";

import InterRegularURL from "@fontsource/inter/files/inter-cyrillic-400-normal.woff2?url";
import InterMediumURL from "@fontsource/inter/files/inter-cyrillic-500-normal.woff2?url";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <link rel="preload" href={InterRegularURL} as="font" type="font/woff2" crossorigin />
    <link rel="preload" href={InterMediumURL} as="font" type="font/woff2" crossorigin />

    <title>{title}</title>
  </head>
  <body class="relative pb-32 sm:pb-48 md:pb-96">
    <slot />
    <Footer />
  </body>
</html>

