---
import Footer from "../components/organisms/Footer.astro";
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth ml-[calc(100vw-100%)] mr-0 safari:bg-linear-to-b safari:from-black safari:from-50% safari:to-white safari:to-50%">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, viewport-fit=cover" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <link rel="preload" href="/fonts/inter/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/inter/Inter-Medium.woff2" as="font" type="font/woff2" crossorigin />

    <title>{title}</title>
  </head>
  <body class="relative pb-32 sm:pb-48 md:pb-96 selection:bg-black selection:text-white">
    <div class="relative z-10 bg-white">
      <slot />
    </div>
    <Footer />
  </body>
</html>

